/* ========== FONTS ========== */

* {
  /* --- Brandon Grotesque --- */
  font-family: 'Brandon Grotesque Regular', sans-serif;
  font-family: 'Brandon Grotesque Thin', sans-serif;
  font-family: 'Brandon Grotesque Light', sans-serif;
  font-family: 'Brandon Grotesque Medium', sans-serif;
  font-family: 'Brandon Grotesque Bold', sans-serif;
  font-family: 'Brandon Grotesque Black', sans-serif;
}

* {
  scroll-behavior: smooth;
}