* {
  font-family: 'Brandon Grotesque Black', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

body {
  background-color: #e8e9eb;
  text-align: center;
  font-family: "Arial", sans-serif;
}

button {
  text-align: center;
  margin: 15px 100px;
  margin-left: 100px;
  font-size: 20px;
  background-color: black;
  color: white;
  width: 200px;
}

#backtoTop {
  color: black;
}

img {
  width: 300px;
  height: auto;
}

#interestingImages {
  width: 900px;
  height: auto;
}

#container-evolve{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-modules{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#container-info{
  width: 200px; 
  border: #242424 2px solid;
  border-radius: 20px;
}

#img-info{
  width: 50px;
  margin: 50px;
}
#p-info{
  margin-top: 0;
  margin-bottom: 50px;
}

#arrow {
  margin-bottom: 20px;
  transform: rotate(90deg);
  width: 20px;
}

